<!DOCTYPE html>
<html>
  <head>
    <title>Webgame</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class= "head">
      <div class= "title">
        プログラミング道場
      </div>
      <div class="icon">
        <%= link_to "メソ打ち", '/', class: "icon1" %>
        <%= link_to "クイズ", '/messages/new', class: "icon2" %>
      </div>
    </div>
    <div class="form">
      <div class="link">
        <a href= "https://www.facebook.com" class="face" ><i class="fab fa-facebook-square"></i></a>
        <a href= "https://twitter.com" class="twitter" ><i class="fab fa-twitter-square"></i></a>
        <a href= "https://www.instagram.com" class="insta" ><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="contents">
      <%= yield %>
    </div>
  </body>
</html>
